@font-face {
  font-family: 'sfpro-thin';
  src: url('./SF-Pro-Text-Thin.otf') format('otf'),
    url('./SF-Pro-Display-Thin.otf') format('otf');
}

@font-face {
  font-family: 'favorit-hangul';
  src: url('./FavoritHangul-Bold.otf') format('oft'),
    url('./FavoritHangul-Book.otf') format('otf'),
    url('./FavoritHangul-Light.otf') format('otf'),
    url('./FavoritHangul-Medium.otf') format('otf'),
    url('./FavoritHangul-Regular.otf') format('otf');
}
